#content {
  text-align: center;
  padding-top: 25%;
}

body {
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-size: cover;
  font-family: 'Lato';
  color: white;
}

html {
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size:  5em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0);
}
